<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
</head>
<body data-ng-app="notesApp">
  <h1>Notes:</h1>
  <main data-ng-controller="notesController" data-ng-init="getAll()">
    <form name="newNoteForm" data-ng-submit="create(newNote)">
      <label for="newNoteBody">Note Body:</label>
      <input type="text" required name="newNoteBody" data-ng-model="newNote.noteBody">

      <button type="submit" data-ng-disabled="newNoteForm.$invalid">Create New Note</button>
    </form>

    <ul id="noteslist">
      <li data-ng-repeat="note in notes">
        {{note.noteBody}}
        <form data-ng-if="note.editing" name="{{note._id}}form" data-ng-submit="update(note)">
          <input type="text" data-ng-model="note.noteBody">
          <button type="submit">Save</button>
          <button data-ng-click="note.editing = false">Cancel</button>
        </form>
        <button data-ng-if="!note.editing" data-ng-click="note.editing = true">Edit</button>
        <button data-ng-click="destroy(note)">Delete</button>
      </li>
    </ul>
  </main>

  <script src="bundle.js"></script>
</body>
</html>
